.statistics__main-wrapper {
    box-sizing: border-box;
    padding: 2% 4%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.statistics-main__widget {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.statistics-widget_statistics {
    display: flex;
    flex-direction: column;
    padding: 4%;
    justify-content: space-between;
}

.statistics-widget__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #223345;
}

.statistics-widget__row {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 40px;
}

.statistics-row_period-graph {
    height: 50%;
}

.statistics-row__side {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-evenly;
}

.statistics-side__graph {
    width: 100%;
    height: 100%;
}

.statistics-graph__buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.statistics__graph {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.statistics-graph__button {
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #38B49C;
}

.statistics-graph__button:hover {
    box-shadow: 0 0 60px -30px #363636 inset;
}

.statistics-widget__period-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    column-gap: 30px;
}

.statistics-widget__period-row {
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: center;
}

.statistics-period__interval::-webkit-datetime-edit-text,
.statistics-period__interval::-webkit-datetime-edit-month-field,
.statistics-period__interval::-webkit-datetime-edit-day-field ,
.statistics-period__interval::-webkit-datetime-edit-year-field {
    display: none;
}

.statistics-period__interval {
    border: none;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #223345;
    border-radius: 10px;
}

.statistics-period__button {
    padding: 1% 2%;
    font-weight: 700;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
    background: #38B49C;
    border-radius: 20px;
}

.statistics-analysis-wrapper, .statistics-limits-wrapper {
    margin-top: 16px;
    margin-left: 20px;
}

.statistics-analysis__row, .statistics-limits-wrapper {
    max-width: 460px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #223345;
}

.statistics-analysis__title {
    font-size: inherit;
}

.statistics-analysis__text {
    margin-left: auto;
}

.statistics-analysis__income-wrapper .statistics-analysis__text {
    color: #4E9E82;
}

.statistics-analysis__income-wrapper .statistics-analysis__text:before {
    content: '+ ';
}

.statistics-analysis__income-wrapper .statistics-analysis__text:after {
    content: ' ₽';
}

.statistics-analysis__expenses-wrapper .statistics-analysis__text {
    color: #FF7B7B;
}

.statistics-analysis__expenses-wrapper .statistics-analysis__text:before {
    content: '- ';
}

.statistics-analysis__expenses-wrapper .statistics-analysis__text:after {
    content: ' ₽';
}

.statistics-row_categories, .statistics-row_limits {
    display: flex;
    flex-direction: column;
}

.statistics-categories-wrapper {
    display: flex;
    margin-top: 10px;
}

.statistics-categories {
    width: 100%;
    display: flex;
    list-style: none;
}

.statistics-categories__element:not(:last-child) {
    margin-right: auto;
}

.statistics-categories__element {
    width: 100%;
}

.statistics-categories__element:first-child .statistics-categories__button {
    border-radius: 20px 0 0 20px;
}

.statistics-categories__element:last-child .statistics-categories__button {
    border-radius: 0 20px 20px 0;
}

.statistics-active-category .statistics-categories__button {
    background: #FB9B7A;
}

.statistics-categories__button {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #223345;
}

.statistics-categories__arrow {
    display: none;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

.statistics-limits-wrapper {
    display: flex;
    justify-content: space-between;
}

.statistics-limits-number {
    color: #FF7B7B;
}

.statistics-limits-number:after {
    content: ' ₽';
}

.statistics-limits__warning {
    color: #ff3f3f;
}

@media (max-width: 1142px) {
    .statistics__graph {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1060px) {
    .statistics__graph {
        width: 300px;
    }
}

@media (max-width: 880px) {
    .statistics-widget__row {
        column-gap: 20px;
    }

    .statistics-widget__period-wrapper, .statistics-widget__period {
        column-gap: 20px;
    }

    .statistics-profile__text {
        font-size: 12px;
    }

    .statistics-statistics__title {
        font-size: 12px;
    }

    .statistics-add__title {
        font-size: 12px;
    }

    .statistics-add__input, .statistics-add__input_placeholder, .statistics-add__input::placeholder {
        font-size: 12px;
    }

    .statistics-widget__title {
        font-size: 20px;
    }

    .statistics-period__button, .statistics-analysis__title, .statistics-categories__button,
    .statistics-analysis__text, .statistics-limits-text, .statistics-limits-number {
        font-size: 16px;
    }
}

@media (max-width: 730px) {
    .statistics__graph {
        width: 200px;
    }
}

@media (max-width: 650px) {
    .statistics__main-wrapper {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .statistics-main__widget {
        height: auto;
    }

    .statistics-row_period-graph {
        display: flex;
        flex-direction: column;
    }

    .statistics-widget__row {
        height: auto;
    }

    .statistics-widget__title {
        font-size: 16px;
    }

    .statistics-period__button, .statistics-analysis__title, .statistics-categories__button,
    .statistics-analysis__text, .statistics-limits-text, .statistics-limits-number {
        font-size: 12px;
    }

    .statistics-categories__element {
        display: none;
    }

    .statistics-active-category {
        display: flex;
    }

    .statistics-categories__element:first-child .statistics-categories__button {
        border-radius: 0;
    }

    .statistics-active-category .statistics-categories__button {
        border-radius: 20px;
    }

    .statistics-active-category .statistics-categories__button {
        background: inherit;
    }

    .statistics-categories__arrow {
        display: flex;
    }

    .statistics-categories__button {
        box-shadow: none;
    }

    .statistics-categories-wrapper {
        box-shadow: 0 0 4px rgb(0 0 0 / 25%);
        border-radius: 20px;
    }

    .statistics__graph {
        width: 100%;
    }
}