* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: inherit;
}

.button {
    border: none;
    background: inherit;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #EAF3FF;
}

input {
    font-family: inherit;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-wrapper.menu-wrapper_space {
    background: inherit;
    display: none;
    position: relative;
    z-index: -1;
}

.menu-wrapper {
    width: 20%;
    height: 100%;
    background: #0C2556;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title-wrapper {
    margin-top: 2%;
}

.menu__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 49px;
    color: #FFFFFF;
}

.menu__user-profile {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__user-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 11px;
}

.menu__user-nickname {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.menu__nav {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__nav {
    list-style: none;
    row-gap: 20px;
}

.nav__menu-item {
    display: none;
}

.active-item .item__title, .nav__menu-item .item__title  {
    color: #FFFFFF;
}

.active-item .item__icon, .nav__menu-item .item__title  {
    fill: #FFFFFF;
}

.nav__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.item__icon {
    fill: #9BA8B8;
    width: 100%;
    max-width: 32px;
    max-height: 32px;
}

.item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    color: #9BA8B8;
}

.main-wrapper {
    box-sizing: border-box;
    padding: 5% 4%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 10fr 2fr;
    gap: 2%;
}

.main__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.avatar__wrapper {
    display: flex;
    justify-content: center;
    height: 80%;
}

.avatar__picture {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.upload__wrapper {
    display: flex;
    justify-content: center;
    height: 10%;
}

.upload__button {
    padding: 10px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    background: #5A75F8;
    border-radius: 10px;
    border: none;
    outline: none;
}

.main__widget {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.widget_edit {
    gap: 5%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit__inputs-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit__input-wrapper {
    width: 100%;
    border-bottom: 1px solid #223345;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.edit__input {
    width: 100%;
    border: none;
    outline: none;
}

.edit__input, .edit__input_placeholder, .edit__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #223345;
}

.edit__input_placeholder {
    margin-left: 2%;
}

.edit__input {
    padding: 0 2%;
}

.edit__input-icon {
    width: 22px;
    height: 9px;
}

.edit__category-list {
    z-index: 1;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 30px;
    flex-direction: column;
    list-style: none;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.edit__button-wrapper, .delete__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.edit__button {
    padding: 3px 0;
    width: 30%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    background: #11A1FD;
    border-radius: 10px;
    border: none;
    outline: none;
}

.delete__button {
    padding: 10px 20px;
    height: max-content;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF5870;
    border-radius: 10px;
    border: none;
    outline: none;
}

@media (max-width: 1453px) {

    .edit__title {
        font-size: 16px;
    }

    .edit__input, .edit__input_placeholder, .edit__input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 1265px) {
    .main-wrapper {
        grid-template-columns: 7fr 5fr;
    }
}

@media (max-width: 1060px) {
    .main-wrapper {
        padding: 10% 4%;
        grid-template-columns: 6fr 6fr;
    }

    .menu-wrapper {
        width: 8%;
    }

    .menu__nav {
        row-gap: 40px;
    }

    .menu__title-wrapper, .menu__user-profile {
        display: none;
    }

    .item__title {
        display: none;
    }

    .nav__menu-item {
        display: list-item;
    }
}

@media (max-width: 860px) {
    .edit__input, .edit__input_placeholder, .edit__input::placeholder {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .menu-wrapper.menu-wrapper_space {
        display: block;
    }

    .menu-wrapper {
        z-index: 1;
        box-sizing: border-box;
        width: auto;
        height: 5%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
    }

    .menu__nav-wrapper {
        width: 100%;
    }

    .menu__nav {
        width: 100%;
        margin-top: 0;
        flex-direction: inherit;
        justify-content: space-around;
    }

    .nav__menu-item {
        display: none;
    }

    .item__icon {
        max-width: 20px;
        max-height: 20px;
    }

    .main-wrapper {
        overflow-x: hidden;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .main__side {
        gap: 20px;
    }

    .delete__button-wrapper, .widget_edit {
        order: 1;
    }

    .delete__button, .upload__button, .edit__button {
        font-size: 16px;
    }

    .upload__button {
        padding: 5px 20px;
    }

    .avatar__wrapper {
        max-width: 50%;
    }

    .avatar__picture, .avatar__wrapper, .upload__wrapper  {
        height: auto;
    }

    .edit__input, .edit__input_placeholder, .edit__input::placeholder {
        line-height: 20px;
    }

    .widget_edit, .edit__inputs-wrapper {
        gap: 10px;
    }
}