.settings__main-wrapper {
    box-sizing: border-box;
    padding: 5% 4%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 10fr 2fr;
    gap: 2%;
}

.settings-main__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.settings-avatar__wrapper {
    display: flex;
    justify-content: center;
    height: 80%;
}

.settings-avatar__picture {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.settings-upload__wrapper {
    display: flex;
    justify-content: center;
    height: 10%;
}

.settings-upload__button {
    padding: 10px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    background: #5A75F8;
    border-radius: 10px;
    border: none;
    outline: none;
}

.settings-main__widget {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.settings-widget_edit {
    gap: 5%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-edit__inputs-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-edit__input-wrapper {
    width: 100%;
    border-bottom: 1px solid #223345;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.settings-edit__input {
    width: 100%;
    border: none;
    outline: none;
}

.settings-edit__input, .settings-edit__input_placeholder, .settings-edit__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #223345;
}

.settings-edit__input_placeholder {
    margin-left: 2%;
}

.settings-edit__input {
    padding: 0 2%;
}

.settings-edit__input-icon {
    width: 22px;
    height: 9px;
}

.settings-edit__category-list {
    z-index: 1;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 30px;
    flex-direction: column;
    list-style: none;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.settings-edit__button-wrapper, .settings-delete__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.settings-edit__button {
    padding: 3px 0;
    width: 30%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    background: #11A1FD;
    border-radius: 10px;
    border: none;
    outline: none;
}

.settings-delete__button {
    padding: 10px 20px;
    height: max-content;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF5870;
    border-radius: 10px;
    border: none;
    outline: none;
}

@media (max-width: 1453px) {
    .settings-edit__title {
        font-size: 16px;
    }

    .settings-edit__input, .settings-edit__input_placeholder, .settings-edit__input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 1265px) {
    .settings__main-wrapper {
        grid-template-columns: 7fr 5fr;
    }
}

@media (max-width: 1060px) {
    .settings__main-wrapper {
        grid-template-columns: 6fr 6fr;
    }
}

@media (max-width: 860px) {
    .settings-edit__input, .settings-edit__input_placeholder, .settings-edit__input::placeholder {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .settings__main-wrapper {
        overflow-x: hidden;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .settings-main__side {
        gap: 20px;
    }

    .settings-widget_edit {
        min-height: 300px;
    }

    .settings-delete__button-wrapper, .settings-widget_edit {
        order: 1;
    }

    .settings-delete__button, .settings-upload__button, .settings-edit__button {
        font-size: 16px;
    }

    .settings-upload__button {
        padding: 5px 20px;
    }

    .settings-avatar__wrapper {
        max-width: 50%;
    }

    .settings-avatar__picture, .settings-avatar__wrapper, .settings-upload__wrapper  {
        height: auto;
    }

    .settings-edit__input, .settings-edit__input_placeholder, .settings-edit__input::placeholder {
        line-height: 20px;
    }

    .settings-widget_edit, .settings-edit__inputs-wrapper {
        gap: 10px;
    }
}