* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: inherit;
}

.button {
    border: none;
    background: inherit;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #EAF3FF;
}

input {
    font-family: inherit;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-wrapper.menu-wrapper_space {
    background: inherit;
    display: none;
    position: relative;
    z-index: -1;
}

.menu-wrapper {
    width: 20%;
    height: 100%;
    background: #0C2556;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title-wrapper {
    margin-top: 2%;
}

.menu__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 49px;
    color: #FFFFFF;
}

.menu__user-profile {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__user-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 11px;
}

.menu__user-nickname {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.menu__nav {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__nav {
    list-style: none;
    row-gap: 20px;
}

.nav__menu-item {
    display: none;
}

.active-item .item__title, .nav__menu-item .item__title  {
    color: #FFFFFF;
}

.active-item .item__icon, .nav__menu-item .item__title  {
    fill: #FFFFFF;
}

.nav__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.item__icon {
    fill: #9BA8B8;
    width: 100%;
    max-width: 32px;
    max-height: 32px;
}

.item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    color: #9BA8B8;
}

.main-wrapper {
    box-sizing: border-box;
    padding: 2% 4%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.main__widget {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.widget__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #223345;
}

.widget_history {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.history__titles-wrapper {
    border-bottom: 1px solid #E7F1F7;
}

.history__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E9FB6;
}

.history__titles-wrapper, .history__row {
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
    width: 100%;
    padding: 0 10px;
}

.history__text-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.history__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #223345;
}

@media (max-width: 1453px) {
    .profile__text {
        font-size: 16px;
    }

    .statistics__title {
        font-size: 16px;
    }

    .add__title {
        font-size: 16px;
    }

    .add__input, .add__input_placeholder, .add__input::placeholder {
        font-size: 14px;
    }

    .history__title {
        font-size: 12px;
    }

    .history__text {
        font-size: 10px;
        font-weight: 500;
    }
}

@media (max-width: 1060px) {
    .menu-wrapper {
        width: 8%;
    }

    .menu__nav {
        row-gap: 40px;
    }

    .menu__title-wrapper, .menu__user-profile {
        display: none;
    }

    .item__title {
        display: none;
    }

    .nav__menu-item {
        display: list-item;
    }
}

@media (max-width: 960px) {
    .history__titles-wrapper {
        display: none;
    }

    .history__row {
        text-align: inherit ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 2fr 5fr;
    }

    .history__text-wrapper:nth-child(2n) {
        text-align: right;
    }

    .history__comment-text {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .add__title-wrapper {
        display: none;
    }

    .add__expand-wrapper {
        display: block;
    }
}

@media (max-width: 860px) {
    .profile__text {
        font-size: 12px;
    }

    .widget_statistics {
        padding: 5%;
    }

    .statistics__title {
        font-size: 12px;
    }

    .add__title {
        font-size: 12px;
    }

    .add__input, .add__input_placeholder, .add__input::placeholder {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .menu-wrapper.menu-wrapper_space {
        display: block;
    }

    .menu-wrapper {
        z-index: 1;
        box-sizing: border-box;
        width: auto;
        height: 5%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
    }

    .menu__nav-wrapper {
        width: 100%;
    }

    .menu__nav {
        width: 100%;
        margin-top: 0;
        flex-direction: inherit;
        justify-content: space-around;
    }

    .nav__menu-item {
        display: none;
    }

    .item__icon {
        max-width: 20px;
        max-height: 20px;
    }

    .main-wrapper {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .add__input, .add__input_placeholder, .add__input::placeholder {
        line-height: 20px;
    }

    .widget_profile, .widget_add, .add__inputs-wrapper {
        gap: 10px;
    }

    .statistics__title {
        line-height: 16px;
    }

    .widget_history {
        padding: 5%;
    }
}