* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-container, .main-container_grid, .main-container_flex {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-container_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 40px;
}

.main-container_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-button {
    font-family: inherit;
    cursor: pointer;
}

.main-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.main-main {
    width: 100%;
    background: radial-gradient(59.45% 156.57% at 50% 50%, #4B64E2 0.03%, #B45EBD 100%);
}

.main-title__text {
    font: inherit;
}

.main-header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #F6F6F6;
}

.main-header__right-side {
    display: flex;
    align-items: center;
}

.main-header__auth-wrapper {
    margin-right: 56px;
    width: 50px;
    height: 50px;
}

.main-location {
    display: flex;
    align-items: center;
    box-sizing: content-box;

    border: none;
    background: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.main-location__arrow {
    width: 20px;
    height: 14px;
    margin-left: 16px;
    stroke-width: 5;
}

.main-location__list-wrapper {
    position: absolute;
    display: none;
    list-style: none;
}

.main-main-content {
    display: grid;
    grid-template-columns: 5fr 7fr;
    column-gap: 30px;
}

.main-main__image-wrapper {
    display: flex;
    align-items: flex-end;
    background-image: url("sources/main-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.main-main__img {
    width: 100%;
}

.main-main__text-wrapper {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.main-main__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 141.4%;
    color: #FFFFFF;
}

.main-main__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.main-main__button {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    border: none;
    background: #38B49C;
    border-radius: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.main-opportunities {
    padding-top: 50px;
    padding-bottom: 25px;
    background: #93A8F4;
}

.main-opportunities__widget {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    background: #F9F9F9;
    border-radius: 50px;
    gap: 30px;
}

.main-widget__image-wrapper {
    width: 60%;
}

.main-widget__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 44px;
    color: #040975;
}

.main-feedback {
    padding-top: 30px;
    padding-bottom: 50px;
    background: #DBE0F9;
}

.main-feedback__title-wrapper {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #000685;
    font-weight: 900;
    font-size: 48px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #040975;
}

.main-feedback__inputs {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 10%;
    row-gap: 60px;
}

.main-feedback__input {
    padding: 20px 10px;
    width: 100%;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #040975;
    border: none;
    background: inherit;
    outline: none;
    border-bottom: 1px solid #000685;
    box-sizing: border-box;
}

.main-input_invalid {
    margin-top: 10px;
    color: #ab0000;
}

.main-feedback__input::placeholder {
    color: #434686;
}

.main-input_messages {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main-feedback__button-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.main-feedback__button {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 100px;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.05em;
    border: 3px solid #040975;
    color: #040975;
    background: inherit;
}

.main-footer {
    display: flex;
    padding: 10px;
    background: #7CABF5;
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    color: #C9DAFB;
}

.main-footer__right-side {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.main-footer__github-wrapper {
    width: 30px;
    height: 30px;
}

.main-footer__github {
    display: flex;
}

@media (max-width: 1352px) {
    .main-main__title, .main-feedback__title-wrapper {
        font-size: 36px;
    }

    .main-main__subtitle, .main-feedback__input, .main-feedback__button {
        font-size: 20px;
    }

    .main-main__button {
        font-size: 20px;
        padding: 10px 0;
    }

    .main-feedback__input {
        padding: 10px;
    }

    .main-feedback__button {
        padding: 10px 100px;
    }
}

@media (max-width: 1407px) {
    .main-opportunities__widget {
        width: 20%;
    }
}

@media (max-width: 1123px) {
    .main-widget__title {
        font-size: 18px;
    }

    .main-widget__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 1083px) {
    .main-main__title, .main-feedback__title-wrapper {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .main-main-content {
        grid-template-columns: 7fr 5fr;
    }

    .main-main__image-wrapper {
        background-image: url("sources/main-img-small.png");
        background-position: bottom center;
    }

    .main-main__button {
        width: 70%;
    }

    .main-opportunities__widget {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-widget__text-wrapper {
        max-width: 60%;
    }

    .main-widget__image-wrapper {
        width: 30%;
        order: 2;
    }
}

@media (max-width: 706px) {
    .main-main-content {
        display: block;
    }

    .main-main__title, .main-main__subtitle {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .main-feedback__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

@media (max-width: 467px) {
    .main-header {
        font-size: 14px;
    }

    .main-header__auth-wrapper {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .main-location__arrow {
        stroke-width: 2;
    }

    .main-main__title, .main-feedback__title-wrapper {
        font-size: 28px;
    }

    .main-main__subtitle. .main-main__button, .main-feedback__input, .main-feedback__button {
        font-size: 16px;
    }

    .main-main__subtitle {
        line-height: 24px;
    }

    .main-opportunities__widget {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-widget__title {
        font-size: 14px;
    }

    .main-widget__subtitle {
        font-size: 12px;
    }

    .main-widget__text-wrapper {
        max-width: 50%;
    }

    .main-widget__image-wrapper {
        width: 100%;
    }

    .main-feedback__input {
        padding: 5px;
    }

    .main-feedback__button {
        padding: 5px 50px;
    }
}